### Functions
- Blocks of statements that does a specific task
- we perform repetitive tsks
- we reuse the code using function calls
## Functiom Definition
we use **def** keywoed
#### syntax:
def function_name(parameters):
statements of blocks

In [1]:
def fun():
    print("python functions")
fun()

python functions

##### Function Arguments

In [4]:
def evenOdd(x):
    if(x%2==0):
        return "Even"
    else:
        return "odd"
print(evenOdd(16))
print(evenOdd(7))

Even
odd

#### Types of Function Arguments
- **Default arguments**: assumes a default value in case it is not specified in the function call
- **keyword Arguments**: values are passed specifying parameter name
- -**Positional Arguments**:values are assigned to parameters based on their order
- **Arbitary arguments**:pass variable no of arguments to the function using special symbols

1 *args
  
2 **kwargs

In [5]:
def fun(x,y=50):
    print("x:",x)
    print("y:",y)
fun(10)

x: 10
y: 50

In [6]:
def students(fname,lname):
    print(fname,lname)
students(fname="python",lname="program")
students(lname="Reddy",fname="valli")

python program
valli Reddy

In [7]:
def nameAge(name,age):
    print("Hi I am ",name)
    print("my age is :",age)
nameAge("Suraj",27)
nameAge(27,"Suraj")

Hi I am  Suraj
my age is : 27
Hi I am  27
my age is : Suraj

In [12]:
def fun(*args,**kwargs):
    print("nonkeyword:")
    for arg in args:
        print(arg)
    for key,value in kwargs.items():
        print(f"{key}=={value}")
fun("Hey","Hello",first="python",mid="For",last="Datascience")

nonkeyword:
Hey
Hello
first==python
mid==For
last==Datascience

### Nested Functions
-Functions inside function

In [14]:
def fun1():
    s="I love coding:"
    def fun2():
        print(s)
    fun2()
fun1()

I love coding:

### Lambda functions
- define the funtion **without def keyword**
**Syntax**

lambda arguments:expression

In [16]:
square=lambda x:x*x
print(square(5))

25

In [32]:
#normal function without lambda
def square(x):
    return x*x
square(5)

25

In [21]:
max_num=lambda a,b:a if a>b else b
print((max_num(8,12)))

12

In [23]:
students=[("Tejasei",90),("shailaja",100),("shaima",85)]
students.sort(key=lambda x:x[1])
print(students)

[('shaima', 85), ('Tejasei', 90), ('shailaja', 100)]

In [31]:
#1*2*3*4*5*6=6!
def factorial(n):
    if(n==0): #basecase 0!=1
        return 1
    else:
        return n*factorial(n-1)
print(factorial(4))

24

### for above code the recursion will be below
factorial(4)

= 4 * factorial(3)

= 4 * (3 * factorial(2))

= 4 * (3 * (2 * factorial(1)))

= 4 * 3 * 2 * 1

= 24

### print Name N time

In [24]:
#Normal approach
def print_name(name,n):
    for i in range(n):
        print(name)
print_name("valli",6)

valli
valli
valli
valli
valli
valli

In [25]:
#recursive approach
def print_name_rec(name,n,i=1):
    if i>n:
        return
    print(name)
    print_name_rec(name,n,i+1)
print_name_rec("valli",5)

valli
valli
valli
valli
valli

In [27]:
def print_numbers(n):
    for i in range(1,n+1):
        print(i)
print_numbers(10)

1
2
3
4
5
6
7
8
9
10

In [28]:
#recursive approach
def print_numbers_rec(i,n):
    if i>n:
        return
    print(i)
    print_numbers_rec(i+1,n)
print_numbers_rec(1,10)

1
2
3
4
5
6
7
8
9
10

##### print numbers in reverse

In [33]:
def print_reverse_numbers(n):
    for i in range(n,0,-1):
        print(i)
print_reverse_numbers(10)

10
9
8
7
6
5
4
3
2
1

In [34]:
#recursive approach
def print_reverse_numbers_rec(n):
    if n==0:
        return
    print(n)
    print_reverse_numbers_rec(n-1)
print_reverse_numbers_rec(10)

10
9
8
7
6
5
4
3
2
1

In [36]:
#recursive approach
import time
def print_reverse_numbers_rec(n):
    if n==0:
        return
    print(n)
    time.sleep(0.30)
    print_reverse_numbers_rec(n-1)
print_reverse_numbers_rec(10)

10
9
8
7
6
5
4
3
2
1

#### sum of first N numbers

In [38]:
def sum_n(n):
    total=0
    for i in range(1,n+1):
        total=total+i
    return total
print("sum:",sum_n(10))

sum: 55

In [41]:
#recursive approach / Fibonacci series n+(n-1)+(n-2)+....(n-n)
def sum_n_rec(n):
    if n==0:
        return 0
    return n+sum_n_rec(n-1)
print("sum:",sum_n_rec(10))

sum: 55

In [42]:
#norma;l approach
#sum of two previous numbers is the succeding number
def fib(n):
    if n<=0:
        return []
    fib=[0]
    
    if n==1:
        return fib
    fib.append(1)

    for i in range(2,n):
        fib.append(fib[i-1]+fib[i-2])
    return fib
fib(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [46]:
k=int(input(print("enter the number :")))
def fib(n):
    if n<=0:
        return []
    fib=[0]
    
    if n==1:
        return fib
    fib.append(1)

    for i in range(2,n):
        fib.append(fib[i-1]+fib[i-2])
    return fib
fib(k)

enter the number :

None 3

[0, 1, 1]