## FOR loop
- Iterative over a sequence such as a list,tuple,string,range

In [3]:
n=4
for i in range(0,n):
    print(i)

0
1
2
3

In [4]:
list1=["greeks","for","python"]
for x in list1:
    print(x)

greeks
for
python

In [5]:
tup=("we","are","learning","python")
for x in tup:
    print(x)

we
are
learning
python

In [6]:
S="abcd"
for x in S:
    print(x)

a
b
c
d

In [7]:
list1=["greeks","for","python"]
for x in range(len(list1)):
    print(list1[x])

greeks
for
python

## While loop
- It is used to execute a block of code until the statement condition is true once its false its come out from loop
- syntax:
- while condition:
-      block of code

In [8]:
x=0
while(x<3):
    x=x+1
    print("hello world")

hello world
hello world
hello world

In [ ]:
while(True):  #if condition always true it means it will be infinite loop
    print("hello world")

## Nested loops
- allows to use one loop inside another loop

In [11]:
for i in range(1,5):
    for j in range(i):
        print(i,end=' ') # end is for saying "don't go to next line"
    print()

1
2 2
3 3 3
4 4 4 4

In [10]:
for i in range(1,5):
    for j in range(i):
        print(i) # without end=' ' 
    print()

1

2
2

3
3
3

4
4
4
4

## Loop control statements
- they r used to control the execution flow of program

1.Continue statement
  
2.break statement

3.pass statement

1.**continue statement**: Return the ontrol to the beginning of the loop
- It is used to skip any current ongoing iterations to bypass certain conditions
2. **break statement**: Brings the control out of loop. It is used to exit the prematurely
  
3.**pass statement**: empty loops,functions etc

In [12]:
for letter in "pythonprogramming":
    if letter=='p' or letter=='o':
        continue
    print("current letter:",letter)

current letter: y
current letter: t
current letter: h
current letter: n
current letter: r
current letter: g
current letter: r
current letter: a
current letter: m
current letter: m
current letter: i
current letter: n
current letter: g

In [15]:
for letter in 'datascience':
    if letter=='e' or letter=='c':
        break
    print("current letter:",letter)

current letter: d
current letter: a
current letter: t
current letter: a
current letter: s

In [22]:
for letter in 'datascience':
    if letter=='e' or letter=='c':
        break
print("current letter:",letter)

current letter: c

In [24]:
for letter in 'datascience':
    print("current letter:",letter)
    if letter=='e' or letter=='c':
        break
print("current letter after break:",letter)

current letter: d
current letter: a
current letter: t
current letter: a
current letter: s
current letter: c
current letter after break: c

## Do while loop
do:statements while(condition)

In [16]:
list1=["abc","def","bcd","bsd"]
i=0
print("printing the list items using while loop")
size=len(list1)
while(i<size):
    print(list1[i])
    i=i+1

printing the list items using while loop
abc
def
bcd
bsd

In [19]:
i=0
print("implement do while loop")
while(True):
    print(list1[i])
    i=i+1
    if(i<size and len(list1[i])<10):
        continue
    else:
        break

implement do while loop
abc
def
bcd
bsd

In [21]:
while True:
    username=input("enter name:")
    if len(username)>=5:
        print("Accepted")
        break
    else:
        print("too short")

enter name: abc

too short

enter name: defg

too short

enter name: crtyugj

Accepted

In [ ]:
# in the above eg it will ask the input until the condition(i.e length should be >=5) is true

## write a program print until 5 once it reaches 5 break

In [26]:
for i in range(1,11):
    if i==5:
        break
    print(i)

1
2
3
4

In [27]:
#if u want to print 5 then break
for i in range(1,11):
    print(i)
    if i==5:
        break

1
2
3
4
5

In [28]:
#if u want to exclude 5 then 
for i in range(1,11):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [29]:
#skip multiples of 3
for i in range(1,21):
    if(i%3==0):
        continue
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20

In [31]:
#Even number counter
#count and display how many even numbers
count=0
for i in range(1,51):
    if i%2==0:
        count+=1
        print(i)
print("total even count:",count)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
total even count: 25

#### sum of positive no's
#### ake 10 integersas input and calucates only positive integers sum

In [32]:
#sum of positive no's
#take 10 integersas input and calucates only positive integers sum
total=0
for i in range(10):
    num=int(input("enter a number"))
    if num>0:
        total=total+num
print("total:",total)

enter a number 5
enter a number -7
enter a number 8
enter a number 4
enter a number -2
enter a number 3
enter a number 9
enter a number -3
enter a number 2
enter a number 8

total: 39

#### simple pass statement
#### write a loop that goes through list of numbers
#### use pass when no is negative and print only positive
#### iterartive through list
#### if the no is -ve then pass otherwise print no if its +ve

In [35]:
#simple pass statement
#write a loop that goes through list of numbers
#use pass when no is negative and print only positive
#iterartive through list
#if the no is -ve then pass otherwise print no if its +ve
nums=[-3,-2,6,5,8,-9]
for i in nums:
    if i<0:
        pass
    else:
        print(i)

6
5
8

In [36]:
nums=[-3,-2,6,5,8,-9]
for i in nums:
    if i>=0:
        pass
    else:
        print(i)

-3
-2
-9

### Find first multiple of 7 grater than 50
### use a while loop to find and print the first greater that 50 and is divisible by 7

In [37]:
#Find first multiple of 7 grater than 50
#use a while loop to find and print the first greater that 50 and is divisible by 7
num=51
while True:
    if(num%7==0):
        print(num)
        break
    num+=1

56

### given a list of integers ask the user for a number and check if its exist or nor
### if found print "found" and break the loop
### if not found print "Not found" after the loop ends

In [39]:
# given a list of integers ask the user for a number and check if its exist or nor
#if found print "found" and break the loop
#if not found print "Not found" after the loop ends
numbers=[2,4,6,9,10]
target=int(input("enter a number"))
for i in numbers:
    if(i==target):
        print("found")
        break
    else:
        print("not found")

enter a number 8

not found
not found
not found
not found
not found

### continuously take numbers as input from user and then add them
### stop taking input (using break) when the user enters 0 then print sum

In [40]:
#continuously take numbers as input from user and then add them
#stop taking input (using break) when the user enters 0 then print sum
sum=0
while True:
    num=int(input("enter a number"))
    if(num==0):
        break
    else:
        sum=sum+num
print("sum",sum)

enter a number 5
enter a number 6
enter a number 0

sum 11

### Skip Vowels
### Take a string as input and print all characters except vowels using a for loop and continue

In [41]:
#Skip Vowels
# Take a string as input and print all characters except vowels using a for loop and continue
text=input("enter a string:")
vowels="aeiouAEIOU"
for ch in text:
    if ch in vowels:
        continue
    print(ch,end=' ')

enter a string: python

p y t h n

### prime number check
### use a loop to check if given no is prime
###  if divisor is found, break the early

In [44]:
#prime number check
#use a loop to check if given no is prime
#if divisor is found, break the early
num=int(input("enter a number"))
is_prime=True
for i in range(2,num):
    if(num%i==0):
        is_prime=False
        break
if is_prime:
    print("prime")
else:
    print("not prime")

enter a number 2

prime

### Nested loops with control
### print pattern of * using nested loops,but skip pring stars in the diagnol using continue

In [46]:
#Nested loops with control
#print pattern of * using nested loops,but skip pring stars in the diagnol using continue
rows=5
for i in range(rows):
    for j in range(rows):
        if i==j: #the diagnol postions are (0,0),(1,1),(2,2),(3,3),(4,4),(5,5)
            continue
        print("*",end=" ")
    print()

* * * *
* * * *
* * * *
* * * *
* * * *

In [47]:
rows=5
for i in range(rows):
    for j in range(rows):
        if i==j: #the diagnol postions are (0,0),(1,1),(2,2),(3,3),(4,4),(5,5)
            print(" ",end=" ")
            continue
        print("*",end=" ")
    print()

  * * * *
*   * * *
* *   * *
* * *   *
* * * *

In [48]:
rows=int(input("enter how many rows need to printed *:"))
for i in range(1,rows+1): #outer loop for rows
    for j in range(i):#inner loop 
        print('*',end=' ') #print stars with space
    print() #move to next line

enter how many rows need to printed *: 6

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [50]:
rows=int(input("enter how many rows need to printed *:"))
for i in range(rows,0,-1): #outer loop for rows
    for j in range(i): #inner loop 
        print('*',end=' ') #print stars with space
    print() #move to next line

enter how many rows need to printed *: 5

* * * * *
* * * *
* * *
* *
*

In [67]:
rows=int(input("enter how many rows need to printed *:"))
for i in range(1,rows+1):
    print(' '*(rows-i),end=' ')
    print('* '*i)

enter how many rows need to printed *: 5

     *
    * *
   * * *
  * * * *
 * * * * *

In [57]:
rows=int(input("enter how many rows need to printed *:"))
for i in range(1,rows+1):
    print(' ' * (rows - i), end='')
    print('* ' * i)

enter how many rows need to printed *: 5

    *
   * *
  * * *
 * * * *
* * * * *

In [63]:
for i in range(rows,0,-1):
    for s in range(rows-i):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    print()

* * * *
  * * *
    * *
      *

In [60]:
rows=5
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [61]:
rows=4
count=1
for i in range(1,rows+1):
    for j in range(i):
        print(count,end=" ")
        count+=1
    print()

1
2 3
4 5 6
7 8 9 10

In [66]:
#diamond pattern
rows=5
for i in range(rows):
    print(" "*(rows-i-1)+"* "*(i+1))
for i in range(rows-2,-1,-1):
    print(" "*(rows-i-1)+"* "*(i+1))

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [75]:
rows=5
for i in range(rows,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [83]:
row = 5
count = 1
for i in range(row, 0, -1):
    for j in range(i):
        print(count,end=" ")
        count+=1
    print()

SyntaxError: invalid non-printable character U+00A0 (1656866311.py, line 6)

# Assistant
The error occurs because there's an invalid non-printable character (specifically U+00A0, which is a non-breaking space) in your code. These characters are often invisible but can cause syntax errors.

Would you like me to provide the corrected code?

# User
yes

In [77]:
# Assistant
row = 5
count = 1
for i in range(row, 0, -1):
    for j in range(i):
        print(count, end=" ")
        count += 1
    print()

1 2 3 4 5
6 7 8 9
10 11 12
13 14
15


I've fixed the code by:
1. Removing the non-breaking space character (U+00A0) that was causing the syntax error
2. Ensuring proper indentation with regular spaces
3. Adding proper spacing around operators (e.g., `count = 1` instead of `count= 1`)
4. Using regular spaces in the `print(count, end=" ")` statement

The code will now print a pattern of numbers in decreasing row lengths.