#### keywords ####
- in Python keywords are **reserved words** that have predefined meaning
- keywords are used to define the syntax and structures

### keywords ###
- in Python keywords are **reserved words** that have predefined meaning and can't be changed
- keywords are used to define the syntax and structures
- keywords are *case sensitive*
- keywords should not used as identifiers
-

In [2]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
print(len(keyword.kwlist))

35

In [4]:
10>5 and 20>10

True

### Identifiers ###
- Name of a variable/class/object/function is called as identifiers
- keywords should not used as identifiers
- **identifier is the name you give something to your program**

#### Identifier name Rules ####

- Identifier can only contain alphanumerics and an underscore(_)
    - (a-z),(A-Z),(0,9),_
- Identifier should only start with a character or an underscore(_)
- keywords should not be used as identifiers
- no special characters are allowed except underscore(_)
- white spaces are not allowed

#### Comments ####

- comments start with **#**
- If we want to comment multiple lines each line should be commented separately

In [5]:
are=40 #valid

In [6]:
4area=40 #invalid as identifier can't start with numeric

SyntaxError: invalid decimal literal (3013877657.py, line 1)

In [7]:
area_width=25 #valid

In [8]:
area width=26#invalid as white spaces should not be there

SyntaxError: invalid syntax (2812078102.py, line 1)

### Best practices for identifiers ###

- use **Descriptive names** (not single characters)
- use **snake case** for variables
    - eg:student_name, calulate_total
- use **pascal case (camel case)** for class name 
    - eg: CalculateTotalRevenue
- use **UPPERCASE** for constants
    - eg: PI=3.14

#### Variables ####

- Variable is a **Data container**
- variable is a name that referes to a value stored in memory

In [10]:
a=20

In [11]:
x=10 #integer variable
name='valli' #string varibale
price=98.4 #floating variable

**Reassigning variables**
- you can change the value of a variable anytime

**Multiple assignments**
- Python allows assigning multiple variables in a single line

In [12]:
a,b,c=10,20,30
print(a,b,c)

10 20 30

In [13]:
x=y=z=100

In [14]:
x,y,z

(100, 100, 100)

### variable name rules ###
- same as Identifiers since variables are identifiers

1. **Variable** =Name that refers to a value in memory
2. **No type Declaration is Required**(python is dynamically typed)
3. **can reassign anytime**

### Data Types

1. **Numeric Data Types**
    - Integers
    - Float
    - Complex
2. **Text**
    - String
3. **Sequence**
    - List
    - Tuple
    - Set 
    - Dictionary
    - String
4. **set**
    - Set 
    - Frozen Set 
5. **Boolean**
    - True
    - False 
6. **Mapping**
    - Dictionary

### Numeric Data Types ###

- **Integers**

In [15]:
a=234
type(a) #type is a method which returns the data type of variable

int

In [17]:
print(type(a)) # print is a method which prints the values and text

<class 'int'>

In [18]:
b=-456
type(b)

int

In [19]:
print('the data type of variable a is',type(a))
print('the data type of variable b is',type(b))

the data type of variable a is <class 'int'>
the data type of variable b is <class 'int'>

**floating  numbers**

In [20]:
c=45.89
d=-89.25

In [21]:
print('the data type of variable c is',type(c))
print('the data type of variable d is',type(d))

the data type of variable c is <class 'float'>
the data type of variable d is <class 'float'>

**complex numbers**

In [23]:
a=34 + 4j

In [24]:
b=-7-8j

In [25]:
c=-4j

In [27]:
print('the data type of variable a is',type(a))
print('the data type of variable b is',type(b))
print('the data type of variable c is',type(c))

the data type of variable a is <class 'complex'>
the data type of variable b is <class 'complex'>
the data type of variable c is <class 'complex'>